# Ignore all files and folders inside mod/DLC
mod/DLC/

# Ignore backup files
*.bak

# Ignore extracted DCX folders
mod/*-dcx/
mod/**/*-dcx/

# Ignore large binary game assets
*.texbnd
*.dds

# Logs and temp files
*.log
*.prev
desktop.ini

# Compiled/binary mod files you may not want tracked
*.so
*.py

mod/.smithbox/
# Auto-ignored large file split by pre-push tool
mod/menu/00_solo_h.tpfbdt

# Auto-ignored large file split by pre-push tool
mod/sfx/sfxbnd_c0000.ffxbnd.dcx
